
.non-resizeable{
  resize: none;
}

input{
  display: inline;
}

.redColor{
color : red;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: #111d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidenav a:hover label {
  padding: 8px 8px 8px 32px;
  /* text-decoration: none; */
  font-size: 25px;
  color: #eeeeee;
  transition: 0.3s;
}


.sidenav a label {
  padding: 8px 8px 8px 32px;
  /* text-decoration: none; */
  font-size: 25px;
  color: #818181;
  transition: 0.1s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}


.container{
background-color: rgba(10, 10, 10, 0.8);
border-radius : 25px;
min-height: 500px;
}

label{
color:white;
}

th{
  color:white;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
   background-color: rgb(10, 10, 10);
   color: white;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
   background-color: rgb(80, 80, 80);
   color: white;
}


.map {
  height: 400px;
  width: 100%;
}

.marker-img{
  margin-left: -16px;
  margin-top: -46px;
}

hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #c1bfbf00, #EEEEEE, #c1bfbf00);
  background-image: -moz-linear-gradient(left, #c1bfbf00, #EEEEEE, #c1bfbf00);
  background-image: -ms-linear-gradient(left, #c1bfbf00, #EEEEEE, #c1bfbf00);
  background-image: -o-linear-gradient(left, #c1bfbf00, #EEEEEE, #c1bfbf00);
  }

hr.right-solid {
border: 0;
height: 1px;
background-image: -webkit-linear-gradient(left, #EEEEEE, #EEEEEE, #c1bfbf00);
background-image: -moz-linear-gradient(left, #EEEEEE, #EEEEEE, #c1bfbf00);
background-image: -ms-linear-gradient(left, #EEEEEE, #EEEEEE, #c1bfbf00);
background-image: -o-linear-gradient(left, #EEEEEE, #EEEEEE, #c1bfbf00);
}

.stuck{
  position: fixed;
  /* top : 10px; */

}
.icon-pad{
  margin-left:5px;
  padding-left: 5px;
  padding-right: : 5px;
  padding-top: 5px;
  padding-bottom: : 5px;
  width: 48px;
  border-radius: 50%;
}

.white-background{
  background-color: rgba(10, 10, 10, 0.7);
  color: rgba(200, 200, 200, 1);
}

.overlay {
    position: fixed; /* Sit on top of the page content*/
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.container-contact-us{
background-color: rgba(10, 10, 10, 0.8);
border-radius : 30px;
color : white;
width: 100%;
}

.center-div {
    width: 50%;
    margin: 0 auto;
}
.justify-content-center{
  /* margin-left: -10px;
  margin-right: -10px;
  margin-top: 10px; */
}

.front{
  z-index: 10;
}


.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}


.transparent{
    color:rgba(0, 0, 0, 0);
    background-color:rgba(0, 0, 0, 0);
}

.a-propos-content{
  background-color: rgba(10, 10, 10, 0.9);
  color:#eee;
}
