
<!-- Modal -->
<div class="modal fade" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content a-propos-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;">
          <span  style="color:white;"aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title strong" id="about-modal-title" style="color:white;"> À propos de l'application</h4>
      </div>
      <div class="modal-body">
        <br>
        L'application utilise le fuseau horaire GMT
        <br>
        <br>

        Calculs faits par Abdellah Thales -Lycée AsSalem-
        <br>
        Application développée par Harouit Chems Eddine -ESI-
        <br>
        <br>

        <label class="pull-right">Août-2018</label>
        <br>

      </div>


    </div>
  </div>
</div>
