{% load static %}
<!DOCTYPE html>
<html>
  <head class="settings">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->


    <title>Horaires  {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_view.css' %}">
    <link rel="stylesheet" href="{% static 'openlayers/ol.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'fontawesome/css/font-awesome.min.css' %}" media="all">
    <link rel="stylesheet" href="{% static 'hover-css/hover-min.css' %}" >
    <link rel="shortcut icon" href="{% static 'img/application_icon_sun.png' %}">


  </head>
  <body style="background-image: url('{% static 'img/background.jpg' %}');height: 100%;
      background-attachment: fixed;">

    {% include 'about_modal.html' %}


<br>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <h2 style="padding-left:10px;color:#ddd;">Calcul:</h2>
      <a id="calcul-quotidien-toggle" href="#">
        <i class="fa fa-sun-o"></i><label>Quotidien</label></a>
      <a id="calcul-mensuel-toggle" href="#">
        <i class="fa fa-calendar"></i><label>Mensuel</label>
      </a>
      <hr class="right-solid">
      <a id="a-propos-toggle" href="#">
        <i class="fa fa-info-circle"></i><label>À propos</label>
      </a>
    </div>
    <row>
      <!-- <div class="col-sm-1 pull-left"> -->
      <div id="toggle-sidenav-btn" class="hvr-icon-wobble-horizontal stuck">
        <div class="stuck front white-background icon-pad hvr-icon">
          <div style="cursor:pointer;" onclick="openNav()">
            <i class="fa fa-chevron-right fa-3x" style="padding-left:8px;"></i>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </row>



    <div id="main-container" class="container-fluid">

      <div id="general-container" class="container" >
        {% block content %}
        {% endblock content %}
      </div>
    </div>
    <br>


    <script src=" {% static 'math/math.min.js' %}"></script>
    <script src=" {% static 'jquery/jquery.min.js' %}"></script>
    <script src=" {% static 'script/hachage.tables.js' %}"></script>
    <script src=" {% static 'script/calculs.js' %}"></script>
    <script src=" {% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'openlayers/ol.js' %}"></script>
    <!-- <script src="{% static 'openlayers/openlayers.mobile.js' %}"></script> -->
    <script>
      $(document).on('ready', function () {
        $('#a-propos-toggle').on('click', function(event){
          event.preventDefault();

          $('#about-modal').modal({});
        });
      });
    </script>
    {% block script %}
    {% endblock script %}

  </body>
</html>
