{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}


{% block script %}
<script>

var ALERT_TIME=5000;

function openNav() {
      $('#toggle-sidenav-btn').fadeTo('normal', 0, function(){
        document.getElementById("mySidenav").style.width = "250px";
        $("#general-container").addClass('blur');
      });
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      $("#general-container").removeClass('blur');
      $('#toggle-sidenav-btn').removeClass('transparent');
      $('#toggle-sidenav-btn').fadeTo('slow', 1);
    }


  $(document).on("ready", function(){

    $('#date').val("");
    $('.calcul-btn').prop('disabled', true);



    $('#calcul-quotidien-toggle').on('click', function(event){
      event.preventDefault();
      closeNav();
      $('#calcul-mensuel-affichage').fadeOut(function(){
        $('#calcul-quotidien-affichage').fadeIn();
      });
      $('#calcul-btn').addClass('calcul-jour');
      $('#calcul-btn').removeClass('calcul-mois');
      CALCUL_MODE='quotidien';
      // $('#calcul-btn').click();
    });

    $('#calcul-mensuel-toggle').on('click', function(event){
      event.preventDefault();
      closeNav();
      $('#calcul-quotidien-affichage').fadeOut(function(){
        $('#calcul-mensuel-affichage').fadeIn();
      });
      $('#calcul-btn').addClass('calcul-mois');
      $('#calcul-btn').removeClass('calcul-jour');
      CALCUL_MODE='mensuel';
      // $('#calcul-btn').click();
    });

    $('#position-manuelle-btn').on('click', function(event){
      event.preventDefault();
      $('#position-mode-manuel').slideDown();
      $('#position-mode-map').slideUp();
      $('#position-mode-wilaya').slideUp();
      $(this).addClass('btn-success');
      $('#position-wilaya-btn').removeClass('btn-success');
      $('#position-map-btn').removeClass('btn-success');
      POSITION_MODE='manuel';
      $('#calcul-btn').click();
    });

    $('#position-wilaya-btn').on('click', function(event){
      event.preventDefault();
      $('#position-mode-wilaya').slideDown();
      $('#position-mode-map').slideUp();
      $('#position-mode-manuel').slideUp();
      $(this).addClass('btn-success');
      $('#position-manuelle-btn').removeClass('btn-success');
      $('#position-map-btn').removeClass('btn-success');
      POSITION_MODE='wilaya';
      $('#calcul-btn').click();
    });

    $('#position-map-btn').on('click', function(event){
      event.preventDefault();
      $('#position-mode-map').fadeIn();
      $('#position-mode-manuel').slideUp();
      $('#position-mode-wilaya').slideUp();
      $(this).addClass('btn-success');
      $('#position-manuelle-btn').removeClass('btn-success');
      $('#position-wilaya-btn').removeClass('btn-success');
      POSITION_MODE='map';
      $('#calcul-btn').click();
      map.getTargetElement().hidden = false;
      $('#map-div').find('canvas').fadeIn();
      map.updateSize();
    });



    $('#date').on('click hover change clear', function(){
      this_ = $(this);
      date = this_.val()
      // console.log(date);
      if(date){
        $('#calcul-btn').prop('disabled', false);
        $("#calcul-btn").click();
      }
      else
        $('#calcul-btn').prop('disabled', true);

    });



    $("#calcul-btn").on("click", function(event){
      var this_  = $(this);
      var mapDiv = $('#map-div');
      if(POSITION_MODE=='map' && ! mapDiv.hasClass('position-selected')){
        var alertHTML =
          '<div id="alert-message"style="display:none;" class="alert alert-danger alert-dismissible" role="alert">'+
            '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
            '<strong>Alerte!</strong> Veuillez cliquer sur la map pour selectionner la position géographique.\n\tSinon vous pouvez basculer vers le mode "Wilaya" ou "Position manuelle"'+
          '</div>';
        $('#alert-div').text('');
        $('#alert-div').append(alertHTML);
        $('#alert-message').slideDown('normal', function(){
          setTimeout(function () {
            $('#alert-message').slideUp('normal')
          }, ALERT_TIME);
        });
      }
      else {
        if (this_.hasClass('calcul-jour'))
          calculQuotidien();
        else if (this_.hasClass('calcul-mois'))
          calculMensuel();
      }
    });



  });//end of document.ready

  function triggerCalculations(){
    var diasbled = $('#calcul-btn').prop('disabled');
    if(diasbled){
      var alertHTML =
        '<div id="alert-message"style="display:none;" class="alert alert-danger alert-dismissible" role="alert">'+
          '<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>'+
          '<strong>Alerte!</strong> Veuillez selectionner une date avant de continuer"'+
        '</div>';
      $('#alert-div').text('');
      $('#alert-div').append(alertHTML);
      $('#alert-message').slideDown('normal', function(){
        setTimeout(function () {
          $('#alert-message').slideUp('normal')
        }, ALERT_TIME);
      });
    }
    else
      $("#calcul-btn").click();
  }

</script>
<script src="{% static 'script/map.js' %}" ></script>
{% endblock script %}



{% block content %}

<br>

<br>

<!-- Selection de la méthode pour entrer les coordonnées -->
<div class=" row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
      <a href="#" type="button" class="btn-success btn btn-default" role="button" id="position-manuelle-btn">Position manuelle</a>
      <a href="#" type="button" class="btn btn-default" role="button" id="position-wilaya-btn">Wilaya</a>
      <a href="#" type="button" class="btn btn-default" role="button" id="position-map-btn">Map</a>
    </div>
  </div>
</div>

<br>
<br>

<!-- La Date -->
<div class="row">
  <div class="col-sm-2 col-sm-offset-3">
    <label>Date :</label>
  </div>
  <div class="col-sm-3 ">
    <input id='date' type="date"/>
  </div>
</div>

<br>
<br>

<div id="position-mode-manuel">
  <div class="row">
    <div class="col-sm-2 col-sm-offset-3">
      <label>Longitude :</label>
    </div>
    <div class="col-sm-5 col-sm-offset1">
      <input type="number" step="1" max="180" min="-180" id='longitude-textarea' value="0" class="non-resizeable predifined-size" placeholder="Longitude"></input>  <label>°</label>
      <input type="number" step="1" max="59" min="0" id='longd-min-textarea' value="0" class="non-resizeable predifined-size" placeholder="Longitude min"></input>  <label>'</label>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-3">
      <label>Latitude :</label>
    </div>
    <div class="col-sm-5 col-sm-offset1">
      <input type="number" step="1" max="90" min="-90" id='latitude-textarea' value="0" class="non-resizeable predifined-size" placeholder="Lattitude"></input> <label>°</label>
      <input type="number" step="1" max="59" min="0" id='lattd-min-textarea' value="0" class="non-resizeable predifined-size" placeholder="Lattitude min"></input> <label>'</label>
    </div>
  </div>
</div>

<br>

<div class="row" id="position-mode-wilaya" style="display:none">
  <div class="col-sm-2 col-sm-offset-3">
    <label>Wilaya :</label>
  </div>
  <div class="col-sm-5 col-sm-offset1">
    <select id='wilaya-select' onchange="triggerCalculations();">
      <option code="1"> 01 - Adrar </option>
      <option code="2"> 02 - Chlef </option>
      <option code="3"> 03 - Laghouat </option>
      <option code="4"> 04 - Oum Bouaghi </option>
      <option code="5"> 05 - Batna </option>
      <option code="6"> 06 - Bejaia </option>
      <option code="7"> 07 - Biskra </option>
      <option code="8"> 08 - Bechar </option>
      <option code="9"> 09 - Blida </option>
      <option code="10"> 10 - Bouira </option>
      <option code="11"> 11 - Tamanrasset </option>
      <option code="12"> 12 - Tebessa </option>
      <option code="13"> 13 - Tlemcen </option>
      <option code="14"> 14 - Tiaret </option>
      <option code="15"> 15 - Tizi Ouzou </option>
      <option code="16"> 16 - Alger </option>
      <option code="17"> 17 - Djelfa </option>
      <option code="18"> 18 - Jijel </option>
      <option code="19"> 19 - Setif </option>
      <option code="20"> 20 - Saida </option>
      <option code="21"> 21 - Skikda </option>
      <option code="22"> 22 - Sidi Bel Abbes </option>
      <option code="23"> 23 - Annaba </option>
      <option code="24"> 24 - Guelma </option>
      <option code="25"> 25 - Constantine </option>
      <option code="26"> 26 - Medea </option>
      <option code="27"> 27 - Mostaganem </option>
      <option code="28"> 28 - M'sila </option>
      <option code="29"> 29 - Maskara </option>
      <option code="30"> 30 - Ourgla </option>
      <option code="31"> 31 - Oran </option>
      <option code="32"> 32 - El Bayadh </option>
      <option code="33"> 33 - Illizi </option>
      <option code="34"> 34 - Bordj B.Arreridj </option>
      <option code="35"> 35 - Boumerdes </option>
      <option code="36"> 36 - Taref </option>
      <option code="37"> 37 - &&Tindouf&& </option>
      <option code="38"> 38 - Tissemsilt </option>
      <option code="39"> 39 - El Oued </option>
      <option code="40"> 40 - Khenchela </option>
      <option code="41"> 41 - Souk Ahras </option>
      <option code="42"> 42 - Tipaza </option>
      <option code="43"> 43 - Mila </option>
      <option code="44"> 44 - Ain Defla </option>
      <option code="45"> 45 - Naama </option>
      <option code="46"> 46 - Ain Temouchent </option>
      <option code="47"> 47 - Ghardaia </option>
      <option code="48"> 48 - Relizan </option>

    </select>
  </div>
</div>
<br>

<div id='position-mode-map' style="display:none">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div id="map-div" class="map" marker-icon-url="{% static 'img/icon.ico' %}"></div>
    </div>
  </div>
  <div class="row">
    <div id="map-latlon-div" style=""></div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-sm-2 col-sm-offset-8">
    <button class="btn btn-primary calcul-btn calcul-jour" id='calcul-btn'> Calculer </button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-12">
    <div id='alert-div'>
    </div>
  </div>
</div>


<br>
<hr>

<div id="calcul-quotidien-affichage">

  <div class="row">
    <div class="col-sm-2 col-sm-offset-2">
    <label>Lever du soleil à </label>
    </div>
    <div class="col-sm-3 col-sm-offset1">
      <label id='leve-soleil-label' readonly class="non-resizeable predifined-size">00 h 00 min 00 s</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-2">
      <label>passage au meridien à </label>
    </div>
    <div class="col-sm-3 col-sm-offset1">
      <label id='meridien-soleil-label' readonly class="non-resizeable predifined-size">00 h 00 min 00 s</label>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-2">
      <label>coucher du soleil à  </label>
    </div>
    <div class="col-sm-3 col-sm-offset1">
      <label id='couche-soleil-label' readonly class="non-resizeable predifined-size">00 h 00 min 00 s</label>
    </div>
  </div>
</div>



<div id="calcul-mensuel-affichage"  style="display:none">

  <div class="row">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Jour</th>
          <th scope="col">Lever du soleil</th>
          <th scope="col">Passage au meridien</th>
          <th scope="col">Coucher du soleil</th>
        </tr>
      </thead>
      <tbody id='table-resultat-mois'>

      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
