{% extends 'base.html' %}


{% block title %}Mois{% endblock title %}


{% block script %}
<script>
</script>
{% endblock script %}



{% block content %}
<style>
.redColor{
  color : red;
}
</style>
<br>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="col-sm-2 col-sm-offset-2">
    Date :
  </div>
  <div class="col-sm-3 col-sm-offset1">
    <input id='date' type="date" />
  </div>
</div>
<br>
<div class=" row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
      <a href="#" type="button" class="btn-success btn btn-default" role="button" id="position-manuelle-btn">manuel</a>
      <a href="#" type="button" class="btn btn-default" role="button" id="position-wilaya-btn">wilaya</a>
    </div>
  </div>
</div>
<br>
<div id="position-mode-manuel">
  <div class="row">
    <div class="col-sm-2 col-sm-offset-2">
      Longitude :
    </div>
    <div class="col-sm-8 col-sm-offset1">
      <input  id='longitude-textarea' value="0" class="non-resizeable predifined-size" placeholder="Longitude"></input>  °
      <input id='longd-min-textarea' value="0" class="non-resizeable predifined-size" placeholder="Longitude min"></input>  '
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-2">
      Latitude :
    </div>
    <div class="col-sm-8 col-sm-offset1">
      <input id='latitude-textarea' value="0" class="non-resizeable predifined-size" placeholder="Lattitude"></input> °
      <input id='lattd-min-textarea' value="0" class="non-resizeable predifined-size" placeholder="Lattitude min"></input> '
    </div>
  </div>
</div>
<br>
<br>

<div class="row" id="position-mode-wilaya" style="display:none">
  <div class="col-sm-2 col-sm-offset-2">
    Wilaya :
  </div>
  <div class="col-sm-8 col-sm-offset1">
    <select id='wilaya-select'>
      <option code="1"> Alger </option>
      <option code="2"> Oran </option>
      <option code="3"> Annaba </option>
      <option code="4"> Biskra </option>
    </select>
  </div>
</div>
<br>
<br>
<br>
<br>

{% endblock content %}
